<!DOCTYPE html>
<html ng-app="appLaescuela">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Home</title>
    <!-- obtenidos de la red -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--link href='http://fonts.which is googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'-->
    <!--link rel="stylesheet" href="https://code.getmdl.io/1.0.1/material.teal-red.min.css" /-->
    <!-- Hojas de estilos (css) -->
    <link rel="stylesheet" type="text/css" href="../../css/material.teal-red.min.css">
    <link href="../../css/plugin-min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <!-- para iconos -->
    <link rel="stylesheet" type="text/css" href="../../font-awesome/css/font-awesome.css"/>
    <!--  Scripts-->
    <script src="../../js/jquery-2.1.1.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/material.min.js"></script>
    <script src="../../js/plugin-min.js"></script>
    <script src="../../js/app/app_maestro.js"></script>
</head>
<body ng-controller="maestroCtrl">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!--span class="mdl-layout-title"><i class="fa fa-pencil"></i> La Escuela</span-->
            <span class="mdl-layout-title"><a style="color:white" href="units.html?search={{oneMateria._id}}/{{idGrupo}}"><i class="fa fa-arrow-circle-left"></i></a></span>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="notif">
                <i class="fa fa-bell-o"></i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="notif">
                <li class="mdl-menu__item"><a href="#"><i class="fa fa-bell"></i> Por ahora no hay notificaciones</a></li>
            </ul>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item"><a href="#"><i class="fa fa-question"></i> Ayuda</a></li>
                <li class="mdl-menu__item"><a href="#"><i class="fa fa-power-off"></i> Cerrar Session</a></li>
            </ul>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{usuario.ESCNOMM}}</span>
            <div class="mdl-navigation">
                <a class="mdl-navigation__link" href="home.html"><i class="fa fa-home"></i> Inicio</a>
                <a class="mdl-navigation__link" href="#"><i class="fa fa-users"></i> Grupos</a>
            </div>
    </div>
</div>
<br>
<br>
<br>

<div id="main">
        <div class="collapsible littlespace">
            <div class="collapsible-header">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <b>
                            Home / 
                        </b>
                        <b class="breadcrumb"> 
                            Materia: {{oneMateria.ESCNOMM}}, Grupo: {{oneGrupo}} / 
                        </b>
                        <b>
                            Unidad: {{oneUnidad.ESCNOMM}} -> Tareas
                        </b>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!--h4>Mis Tareas</h4-->
        <div class="alert alert-danger littlespace center" ng-if="tareas.length == 0"><i class="fa fa-ban"></i> Todavia no hay tareas para esta unidad</div>
        <ul class="collection littlespace" ng-repeat="t in tareas">
            <li class="collection-item avatar">
                <a href="#" ng-click="showEnviar(t)">
                    <i class="fa fa-pencil-square-o circle blue"></i>
                    <span class="title">Tarea: {{t.ESCCONT}} ( Valor: {{t.ESCPUNT}} pts. ), {{t.ESCFECT}}</span>
                    <br>
                    <p style="color:black">
                        La tarea trata de: "{{t.ESCBODT}}"<br>
                        <!--Grupo: {{maestromaterias[$index].ESCIDEG}}-->
                    </p>
                    <p>
                        Se entregará el dia: {{t.ESCLIMT}}
                    </p>
                    <p ng-if="t.ESCDEPT == ''" style="color: red;">
                        <i class="fa fa-ban"></i> No tiene dependencias
                    </p>
                    <p ng-if="t.ESCDEPT != ''" style="color: black;">
                        <p ng-repeat="tt in tareas" ng-if="tt._id == t.ESCDEPT">
                            Depende de la: Tarea {{tt.ESCCONT}}
                        </p>
                    </p>
                    <i class="fa fa-spinner secondary-content fa-2x" ng-if="t.ESCESTT == 'C'"></i>
                    <i class="fa fa-check-circle secondary-content fa-2x" ng-if="t.ESCESTT == 'E'"></i>
                </a>
            </li>
        </ul>
        <div class="fixed-action-btn">
            <a id="showForm" class="btn-floating btn-large blue">
                <i class="fa fa-pencil"></i>
            </a>
        </div>
    </div>

    <div id="form">
        <!--h4>Mis Tareas</h4-->
        <div class="collapsible littlespace">
            <div class="collapsible-header">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <b>
                            Home / 
                        </b>
                        <b class="breadcrumb"> 
                            Materia: {{oneMateria.ESCNOMM}}, Grupo: {{oneGrupo}} / 
                        </b>
                        <b>
                            Unidad: {{oneUnidad.ESCNOMM}} -> Tareas
                        </b>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card" style="margin:6px;">
            <button id="hideForm" class="btn-floating blue" style="margin:5px 0px 0px 10px;">
                <i class="fa fa-arrow-circle-left"></i>
            </button> 
            <div class="card-image waves-effect waves-block waves-light">
                <!--h4 class="center">Nueva Tarea</h4-->
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">
                    <form ng-submit="nuevaTarea()">
                        <div class="row">
                            <p class="center" style="font-size:15pt;">
                                <i class="fa fa-pencil-square-o"></i>
                                Nueva Tarea
                            </p>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12 blue-text">
                                <i class="fa fa-pencil prefix"></i>
                                <textarea id="icon_prefix2" class="materialize-textarea" ng-model="tareaN.ESCBODT" required="true" placeholder="Contenido de la tarea"></textarea>
                                <!--input id="content" ng-model="tareaN.ESCBODT", type="text" required="true" placeholder="Contenido"/-->
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12 blue-text">
                                <i class="fa fa-star prefix"></i>
                                <input id="content" ng-model="tareaN.ESCPUNT" type="text" required="true" placeholder="Puntaje de la tarea"/>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12 blue-text">
                                <i class="fa fa-calendar prefix"></i>
                                <input id="fecha" ng-model="tareaN.ESCLIMT" type="text" class="datepicker" required="true" placeholder="Fecha Limite para entregar la tarea"/>
                            </div>
                        </div>
                        <div class="row margin">
                            <label></label>
                              <select class="browser-default" ng-model="tareaN.ESCDEPT">
                                <option value="" disabled selected>Seleccione una dependencia</option>
                                <option ng-repeat="t in tareas" value="{{t._id}}">Tarea {{t.ESCCONT}}</option>
                              </select>
                        </div>
                        <div class="row">
                            <div class="input-field col s12"></div>
                                <button class="btn waves-effect waves-light col s12" type='submit' name='action'>
                                    Crear
                                    <i class="fa fa-check"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </span>
                <!--p><a href="#">This is a link</a></p-->
            </div>
        </div>
    </div>

    <div id="enviar">
        <!--h4>Mis Tareas</h4-->
        <div class="collapsible littlespace">
            <div class="collapsible-header">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <b>
                            Home / 
                        </b>
                        <b class="breadcrumb"> 
                            Materia: {{oneMateria.ESCNOMM}}, Grupo: {{oneGrupo}} / 
                        </b>
                        <b>
                            Unidad: {{oneUnidad.ESCNOMM}} -> Tareas
                        </b>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card" style="margin:0px 0px 0px 6px;">
            <button class="btn-floating blue" style="margin:5px 0px 0px 10px;" ng-click="hideEnviar()">
                <i class="fa fa-arrow-circle-left"></i>
            </button>
            <button class="right btn-floating blue" style="margin:5px 10px 0px 0px;" ng-click="enviarTarea()" ng-if="tmpTarea.ESCESTT == 'C'">
                <i class="fa fa-paper-plane"></i>
            </button> 
            <br>
            <br>
            <!--b ng-if="tmpTarea.ESCESTT == 'E'">Tarea Enviada</b-->
            <div class="alert alert-success center" ng-if="tmpTarea.ESCESTT == 'E'"> <i class="fa fa-paper-plane"></i> <b> Tarea Enviada </b> </div>
            <div class="card-image waves-effect waves-block waves-light">
                <!--h4 class="center">Nueva Tarea</h4-->
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">
                    <form ng-submit="nuevaTarea()">
                        <div class="row">
                            <p>
                                <b><em>Tarea {{tmpTarea.ESCCONT}}:</em></b> 
                                {{tmpTarea.ESCBODT}}
                            </p>
                            <p class="right"><em>Valor: {{tmpTarea.ESCPUNT}} pts.</em></p>
                            <!--div class="input-field col s12 center">
                                <h5> Enviar Tarea: {{tmpTarea.ESCCONT}} a alumnos </h5>
                            </div-->
                        </div>
                        <p class="center">Alumnos del grupo: {{oneGrupo}}</p>
                        <ul class="collection littlespace" ng-repeat="ag in alumnosgrupo">
                            <li class="collection-item avatar" ng-repeat="a in alumnos" ng-if="a._id == ag.ESCIDEA">
                                <a href="#">
                                    <i class="fa fa-user circle blue"></i>
                                    <span class="title">Alumno: {{a.ESCNOMA}}</span>
                                    <p>
                                        Matrícula: {{a.ESCMATA}} <br>    
                                    </p>
                                    <!--i class="fa fa-check-circle secondary-content"></i-->
                                </a>
                            </li>
                        </ul>
                    </form>
                </span>
                <!--p><a href="#">This is a link</a></p-->
            </div>
        </div>
    </div>
    <!--dialog class="mdl-dialog">
        <div class="mdl-dialog__content">
            <p>
                
            </p>
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <button type="button" class="mdl-button center close">Cerrar</button>
        </div>
    </dialog-->
    <script type="text/javascript">
        $('.datepicker').pickadate({
            format: "dd/mm/yyyy",
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    </script>
</body>
</html>