<!DOCTYPE html>
<html ng-app="appLaescuela">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Home</title>
    <!-- obtenidos de la red -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--link href='http://fonts.which is googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'-->
    <!--link rel="stylesheet" href="https://code.getmdl.io/1.0.1/material.teal-red.min.css" /-->
    <!-- Hojas de estilos (css) -->
    <link rel="stylesheet" type="text/css" href="../../css/material.teal-red.min.css">
    <link href="../../css/plugin-min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <!-- para iconos -->
    <link rel="stylesheet" type="text/css" href="../../font-awesome/css/font-awesome.css"/>
    <!--  Scripts-->
    <script src="../../js/jquery-2.1.1.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/material.min.js"></script>
    <script src="../../js/plugin-min.js"></script>
    <script src="../../js/app/app_maestro.js"></script>
</head>
<body ng-controller="maestroCtrl">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title"><i class="fa fa-pencil"></i> La Escuela</span>
            <div class="mdl-layout-spacer"></div>
            
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="notif">
                <i class="fa fa-bell-o"></i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="notif">
                <li class="mdl-menu__item"><a href="#"><i class="fa fa-bell"></i> Por ahora no hay notificaciones</a></li>
            </ul>

            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item"><a href="#"><i class="fa fa-question"></i> Ayuda</a></li>
                <li class="mdl-menu__item"><a href="#"><i class="fa fa-power-off"></i> Cerrar Session</a></li>
            </ul>
            <!--nav class="mdl-navigation">
                Por si va el buscador....
                <a class="mdl-navigation__link" href="#">Home</a>
                <a class="mdl-navigation__link" href="#">About</a>
                <a class="mdl-navigation__link" href="#">Contact</a>
            </nav-->
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{usuario.ESCNOMM}}</span>
            <div class="mdl-navigation">
                <a class="mdl-navigation__link" href="home.html"><i class="fa fa-home"></i> Inicio</a>
                <a class="mdl-navigation__link" href="#"><i class="fa fa-users"></i> Grupos</a>
            </div>
    </div>
</div>
<br>
<br>
<br>
    <div class="collapsible littlespace">
        <div class="collapsible-header"><b>Buenos Dias Profesor {{usuario.ESCNOMM}} / Mis Materias</b></div>
    </div>
    <br>
    <!--h4 class="center">Mis Materias</h4-->
    <ul class="collection littlespace" ng-repeat="m in materiasM">
        <li class="collection-item avatar" ng-repeat="a in maestromaterias" ng-if="a.ESCIDEM == m._id">
            <a href="units.html?search={{m._id}}/{{a.ESCIDEG}}">
                <i class="fa fa-tags circle blue"></i>
                <span class="title"><b>Materia: {{m.ESCNOMM}}</b></span>
                <p>
                    Clave: {{m.ESCCODM}} <br>
                    <p ng-repeat="g in allgrupos", ng-if="g._id == a.ESCIDEG">
                        Grupo: {{g.ESCNOMG}}
                    </p>
                    <!--Grupo: {{maestromaterias[$index].ESCIDEG}}-->
                </p>
                <!--i class="fa fa-check-circle secondary-content"></i-->
            </a>
        </li>
    </ul>

</body>
</html>