<!DOCTYPE html>
<html ng-app="appLaescuela">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Home</title>
    <!-- obtenidos de la red -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--link href='http://fonts.which is googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'-->
    <!--link rel="stylesheet" href="https://code.getmdl.io/1.0.1/material.teal-red.min.css" /-->
    <!-- Hojas de estilos (css) -->
    <link rel="stylesheet" type="text/css" href="../../css/material.teal-red.min.css">
    <link href="../../css/plugin-min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <!-- para iconos -->
    <link rel="stylesheet" type="text/css" href="../../font-awesome/css/font-awesome.css"/>
    <!--  Scripts-->
    <script src="../../js/jquery-2.1.1.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/material.min.js"></script>
    <script src="../../js/plugin-min.js"></script>
    <!--script src="../../js/materialize.min.js"></script-->
    <script src="../../js/app/app_maestro.js"></script>
</head>
<body ng-controller="maestroCtrl">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!--span class="mdl-layout-title"><i class="fa fa-pencil"></i> La Escuela</span-->
            <span class="mdl-layout-title"><a style="color:white" href="home.html"><i class="fa fa-arrow-circle-left"></i></a></span>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="notif">
                <i class="fa fa-bell-o"></i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="notif">
                <li class="mdl-menu__item"><a href="#"><i class="fa fa-bell"></i> Por ahora no hay notificaciones</a></li>
            </ul>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item"><a href="#"><i class="fa fa-question"></i> Ayuda</a></li>
                <li class="mdl-menu__item"><a href="#"><i class="fa fa-power-off"></i> Cerrar Session</a></li>
            </ul>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{usuario.ESCNOMM}}</span>
            <div class="mdl-navigation">
                <a class="mdl-navigation__link" href="home.html"><i class="fa fa-home"></i> Inicio</a>
                <a class="mdl-navigation__link" href="#"><i class="fa fa-users"></i> Grupos</a>
            </div>
    </div>
</div>
<br>
<br>
<br>
<div class="collapsible littlespace">
    <div class="collapsible-header">
        <div class="nav-wrapper">
            <div class="col s12">
                <b>
                    Home / 
                </b>
                <b class="breadcrumb"> 
                    Unidades -> Materia: {{oneMateria.ESCNOMM}}, Grupo: {{oneGrupo}}
                </b>
            </div>
        </div>
    </div>
</div>
<!--p>Unidades de la Materia {{oneMateria.ESCNOMM}}</p-->
<ul class="collection" style="margin:1px" ng-repeat="u in unidadesM">
    <li class="collection-item avatar">
        <a href="agreements.html?unit={{u._id}}/{{idGrupo}}">
            <i class="fa fa-book circle blue"></i>
            <span class="title"><b>Unidad: {{u.ESCNOMM}}</b></span>
            <p>
                Clave: {{u.ESCCODM}} <br>    
            </p>
            <!--i class="fa fa-check-circle secondary-content"></i-->
        </a>
    </li>
</ul>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue mdl-button show-modal tooltipped" data-position="left" data-delay="50" data-tooltip="Ver mis alumnos" >
        <i class="fa fa-users"></i>
    </a>
</div>

<dialog class="mdl-dialog">
    <div class="mdl-dialog__content">
    <p>
        <p>Alumnos del grupo: {{oneGrupo}}</p>
            <ul class="collection littlespace" ng-repeat="ag in alumnosgrupo">
                <li class="collection-item avatar" ng-repeat="a in alumnos" ng-if="a._id == ag.ESCIDEA">
                    <b>
                        <i class="fa fa-user circle green"></i>
                        <span class="title">Alumno: {{a.ESCNOMA}}
                        <br>
                        Matricula: {{a.ESCMATA}}
                        </span>
                        <!--p>
                            Clave: {{m.ESCCODM}} <br>    
                        </p-->
                        <!--i class="fa fa-check-circle secondary-content"></i-->
                    </b>
                </li>
            </ul>
    </p>
    </div>
    <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
        <!--button type="button" class="mdl-button">Agree</button-->
        <button type="button" class="mdl-button center close">Cerrar</button>
    </div>
</dialog>

</body>
</html>